<footer class="w-full flex items-center md:items-start justify-center min-h-40 bg-black/90">
    <div class="content w-full max-w-350 p-4 lg:py-8 flex items-center md:items-start flex-col gap-4 lg:gap-8">
        <div class="logo flex items-center justify-center">
            <img class="w-30 h-auto invert" src="/logos/cfmoto-logo.svg" alt="" srcset="">
        </div>

        <div class="sections w-full grid grid-cols-2 sm:grid-cols-4 sm:gap-2 lg:flex lg:items-start flex-col lg:flex-row gap-4">
            <div class="support w-full flex flex-col gap-2">
                <h3 class="text-white font-semibold text-lg uppercase"> Soporte </h3>
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Servicio al cliente </a> 
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Refacciones </a>
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Garantia </a>
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Manuales </a>
            </div>

            <div class="company w-full flex flex-col gap-2">
                <h3 class="text-white font-semibold text-lg uppercase"> Empresa </h3>
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Acerca de </a> 
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Distribuidores </a>
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Noticias </a>
            </div>

            <div class="models w-full flex flex-col gap-2">
                <h3 class="text-white font-semibold text-lg uppercase"> Modelos </h3>
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Motocicletas </a> 
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Cuatrimotos </a>
            </div>

            <div class="legal w-full flex flex-col gap-2">
                <h3 class="text-white font-semibold text-lg uppercase"> Legal </h3>
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Términos y condiciones </a> 
                <a href="" class="text-white/80 text-lg hover:text-white hover:cursor-pointer"> Aviso de privacidad </a>
            </div>

            <div class="social w-full flex items-center flex-col gap-2 col-span-2 sm:col-span-4 lg:items-start">
                <h3 class="hidden lg:flex text-white font-semibold text-lg uppercase"> Social </h3>
                <div class="icons w-full flex justify-center gap-4 lg:justify-start">
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-white stroke-white w-7 h-7 stroke-0">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-8a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-4 5a4 4 0 0 0 -3.995 3.8l-.005 .2a4 4 0 1 0 4 -4m4.5 -1.5a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" />
                        </svg>
                    </a>

                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-white stroke-white w-7 h-7 stroke-0">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                    </a>

                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-white stroke-white w-7 h-7 stroke-0">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917" />
                        </svg>
                    </a>

                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-white stroke-white w-7 h-7 stroke-0">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M17 17a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M22 22a2 2 0 0 0 -2 -2h-2a2 2 0 0 0 -2 2" />
                            <path d="M12.454 19.97a9.9 9.9 0 0 1 -4.754 -.97l-4.7 1l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c1.667 1.423 2.596 3.294 2.747 5.216" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="legal w-full flex flex-col gap-2">
            <p class="text-white/80 text-center text-sm"> &copy; 2026 CFMOTO México | ATVs, Side-by-side, Motocicletas</p> 
        </div>

    </div>
</footer>